*{
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

.nav{
    background-color: #295872;
    width: 100%;
    height: 150px;
}

.nav h2{
    display: inline-block;
    position: absolute;
    font-size: 25px;
    text-align: center;
    padding-top: 1.5em;
    margin-left: 70px;
    font-family: 'poppins-bold';
}

.carousel{
    background-color: #8dbeda;
    width: 100%;
    height: 800px;
    min-height: 500px;
    background-image: url("../images/adoravel-cachorro-basenji-marrom-e-branco-sorrindo-e-dando-mais-uns-cinco-isolado-no-branco.png");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-1{
    background-color: #357599;
    width: 100%;
    height: 600px;
}

#section-2{
    background-color: #63b1d2;
    width: 100%;
    height: 2200px;
}

.footer{
    background-color: #295872;
    width: 100%;
    height: 150px;
}

.nav a{
    color: #fff;
    text-decoration: none;
}

.nav a:hover{
    transition: 0.3s;
    transform: scale(1.5);
    border-radius: 5px;
    font-size: 20px;
}

ul{
    margin-left: 60%;
}

li{
    display: inline-block;
    list-style-type: none;
    margin-top: 30px;
    color: #ffffff;
    padding: 1.6em;
    font-size: 1.2em;
    font-family:'poppins-regular';
}

h1{
    color: #fff;
    font-size: 40px;
    font-family: 'poppins-bold';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.dog1{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: #fff;
    margin: 6em;
    display: inline-block;
}

.dog2{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: #fff;
    margin: 6em;
    display: inline-block;
}

.dog3{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: #fff;
    margin: 6em;
    display: inline-block;
}

h5{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -34px;
    font-size: 24px;
    font-family:'poppins-bold';
    color: #fff;
}

img{
    border-radius: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 3px;
}

.dog1:hover, .dog2:hover, .dog3:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

#section-1 a{
    text-transform: none;
    text-decoration: none;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    color: #fff;
    font-size: 30px;
    font-family: 'poppins-bold';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

h4{
    font-size: 16px;
    color: #357599;
    padding: 1em;
    font-family: 'poppins-light';
}

table{
    display: inline;
    position: relative;
    float: left;
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
}

.video{
    display: inline;
    position: relative;
    float: right;
    margin-left: 20%;
    padding: 1em;
    padding-top: 1em;
}

#loki-section, #max-section, #theo-section{
    padding: 11em;
}

#max-section, #theo-section{
    margin-top: 10em;
}


#max-section .video{
    display: inline;
    position: relative;
    float: left;
    margin-left: 100px;
    padding: 1em;
    padding-top: 1em;
}

#max-section table{
    display: inline;
    position: relative;
    float: right;
    width: 350px;
    margin-right: 60px;
}

#loki-section table{
    width: 350px;
    margin-left: 100px;
}

#loki-section .video{
    margin-right: 290px;
    margin-top: 10px;
    position: absolute;
}

#theo-section table{
    width: 330px;
    margin-left: 100px;
}

#theo-section .video{
    margin-right: 290px;
    margin-top: 10px;
    position: absolute;
}

.video img{
    border-radius: 5px;
    margin-top: 10px;
}

.ficha{
    width: 100%;
    height: 60px;
    background-color: #357599;
}

.ficha h2{
    font-size: 22px;
}

.fotopata{
    position: absolute;
    margin-left: 10px;
    margin-top: 4px;
}

hr{
    width: 100%;
    height: 0.4px;
    background-color: #ffffff;
}


@font-face {
    font-family: 'poppins-regular';
    src: url(../fontes/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'poppins-bold';
    src: url(../fontes/poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'poppins-light';
    src: url(../fontes/poppins/Poppins-Light.ttf);
}